@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto.ttf");
}
:root {
  --content-box-width: 1300px;
  --white: #fff;
  --gray: #5c6c75;
  --accent-primary: #f08306;
  --accent-secondary: #ee7713;
  --nav-link-color: #21313c;
  --black-primary: #001e2b;
  --black-primary-hover: #26404b;
  --heading-color: #21313c;
  --secondary-color: #5c6c75bf;
  --body-color: #5c6c75;
  --gray-dark: #21313c;
  --gray-100: #f0f3f2;
  --gray-200: #ecf0ef;
  --gray-300: #dfe2e1;
  --gray-400: #c4c9c8;
  --gray-500: #889397;
  --gray-600: #5c6c75;
  --gray-700: #3d4f58;
  --gray-800: #21313c;
  --gray-900: #001e2b;
  --secondary: #889397;
  --success: #198754;
  --info: #016bf8;
  --warning: #ffc107;
  --danger: #db3030;
  --light: #f0f3f2;
  --dark: #001e2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--white);
}

.content-box {
  display: block;
  position: relative;
  max-width: var(--content-box-width);
  width: 100%;
}

.content-box-centered {
  margin: 0 auto;
}

.page-main {
  padding: 20px 10px;
  min-height: 100vh;
}

.section-title-container {
  margin-bottom: 20px;
}
.section-title-container h3 {
  font-size: 24px;
  color: var(--heading-color);
}
.section-title-container .section-title-breakline {
  margin-top: 10px;
  width: 100px;
  height: 3px;
  background: var(--accent-primary);
}

.section-title-with-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.home-hero-slider {
  width: 100%;
  height: 540px;
  background-color: #21313c;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.home-hero-slider .slider-item-background {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.home-hero-slider .slider-item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(33, 49, 60, 0.3333333333);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
}
.home-hero-slider .slider-item-content h2 {
  position: relative;
  color: var(--white);
  font-size: 48px;
  margin-right: 100px;
  margin-bottom: 5px;
  text-align: right;
}
.home-hero-slider .slider-item-content h2::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 100%;
  right: 0;
  height: 10px;
  background: var(--accent-primary);
}

.home-categories-section {
  padding: 20px 10px;
}

.categories-slider-items {
  display: flex;
  gap: 10px;
}

.categories-slider-item a {
  text-decoration: none;
  color: var(--black-primary);
  transition: 0.2s ease;
}
.categories-slider-item:hover a {
  color: var(--black-primary-hover);
}

.categories-slider-item-card {
  background: var(--white);
  width: 100%;
  height: 100%;
  max-width: 220px;
  border: 1px solid var(--gray-500);
  border-radius: 12px;
  overflow: hidden;
  padding: 15px 15px 35px;
  transition: 0.2s ease;
}
.categories-slider-item-card img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.categories-slider-item-card span {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--black-primary);
  transition: 0.2s ease;
}
.categories-slider-item-card:hover {
  box-shadow: 0px 4px 10px 0px var(--gray-300);
  border: 1px solid var(--accent-secondary);
}
.categories-slider-item-card:hover span {
  color: var(--black-primary-hover);
}

.products-gallery-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.products-gallery-list .product {
  position: relative;
  border: 1px solid var(--gray-500);
  border-radius: 12px;
  padding: 16px;
  overflow: hidden;
  transition: 0.2s ease;
}
.products-gallery-list .product .product-loop-item-brand {
  color: var(--accent-secondary);
  font-weight: 600;
}
.products-gallery-list .product .onsale {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--danger);
  color: var(--white);
  padding: 3px 10px;
  border-radius: 5px;
}
.products-gallery-list .product .woocommerce-loop-product__link {
  width: 100%;
  display: block;
  color: var(--heading-color);
  text-decoration: none;
}
.products-gallery-list .product img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.products-gallery-list .product .woocommerce-loop-product__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.products-gallery-list .product .product-loop-price-container {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}
.products-gallery-list .product .product-loop-regular-price {
  color: var(--body-color);
  font-size: 18px;
}
.products-gallery-list .product .product-loop-sale-price {
  color: var(--gray-400);
  text-decoration: line-through;
}
.products-gallery-list .product .add_to_cart_button {
  display: flex;
  gap: 4px;
  margin-top: 8px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
  font-weight: 500;
  border-radius: 6px;
  color: var(--white);
  text-align: center;
  width: 100%;
  padding: 8px 5px;
  background: var(--accent-primary);
  transition: 0.2s ease;
}
.products-gallery-list .product .add_to_cart_button svg {
  width: 18px;
  height: 18px;
}
.products-gallery-list .product .add_to_cart_button svg path {
  fill: var(--white);
}
.products-gallery-list .product .add_to_cart_button:hover {
  background: var(--accent-secondary);
}
.products-gallery-list .product:hover {
  box-shadow: 0px 4px 10px 0px var(--gray-300);
  border: 1px solid var(--accent-secondary);
}

.products-gallery-list-with-sidebar {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.products-gallery-list-with-sidebar .product {
  position: relative;
  border: 1px solid var(--gray-500);
  border-radius: 12px;
  padding: 16px;
  overflow: hidden;
  transition: 0.2s ease;
}
.products-gallery-list-with-sidebar .product .product-loop-item-brand {
  color: var(--accent-secondary);
  font-weight: 600;
}
.products-gallery-list-with-sidebar .product .onsale {
  display: none;
  position: absolute;
}
.products-gallery-list-with-sidebar .product .woocommerce-loop-product__link {
  width: 100%;
  display: block;
  color: var(--heading-color);
  text-decoration: none;
}
.products-gallery-list-with-sidebar .product img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.products-gallery-list-with-sidebar .product .woocommerce-loop-product__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.products-gallery-list-with-sidebar .product .product-loop-price-container {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}
.products-gallery-list-with-sidebar .product .product-loop-regular-price {
  color: var(--body-color);
  font-size: 18px;
}
.products-gallery-list-with-sidebar .product .product-loop-sale-price {
  color: var(--gray-400);
  text-decoration: line-through;
}
.products-gallery-list-with-sidebar .product .add_to_cart_button {
  display: flex;
  gap: 4px;
  margin-top: 8px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
  font-weight: 500;
  border-radius: 6px;
  color: var(--white);
  text-align: center;
  width: 100%;
  padding: 8px 5px;
  background: var(--accent-primary);
  transition: 0.2s ease;
}
.products-gallery-list-with-sidebar .product .add_to_cart_button svg {
  width: 18px;
  height: 18px;
}
.products-gallery-list-with-sidebar .product .add_to_cart_button svg path {
  fill: var(--white);
}
.products-gallery-list-with-sidebar .product .add_to_cart_button:hover {
  background: var(--accent-secondary);
}
.products-gallery-list-with-sidebar .product:hover {
  box-shadow: 0px 4px 10px 0px var(--gray-300);
  border: 1px solid var(--accent-secondary);
}

.product-page-content .products-gallery-list {
  grid-template-columns: repeat(4, 1fr);
}

.woocommerce-breadcrumb {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}
.woocommerce-breadcrumb a {
  font-weight: 600;
  text-decoration: none;
  color: var(--accent-primary);
  transition: 0.2s ease;
}
.woocommerce-breadcrumb a:hover {
  color: var(--accent-secondary);
}

.woocommerce-shop-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 100%;
}
.woocommerce-shop-container .shop-sidebar {
  max-width: 200px;
  width: 100%;
}
.woocommerce-shop-container .shop-main {
  max-width: calc(100% - 225px);
  width: 100%;
}

.woocommerce-ordering {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 10px;
}
.woocommerce-ordering select {
  outline: none;
  padding: 5px 7px;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
}

.woocommerce-pagination {
  padding: 20px 0 10px;
}
.woocommerce-pagination .page-numbers {
  display: flex;
  flex-direction: row;
  gap: 5px;
  list-style: none;
}
.woocommerce-pagination .page-numbers .page-numbers {
  font-family: Roboto;
  color: var(--black-primary);
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  width: 36px;
  height: 36px;
  aspect-ratio: 1/1;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: 0.2s ease;
}
.woocommerce-pagination .page-numbers .page-numbers svg {
  display: block;
  aspect-ratio: 1/1;
  width: 12px;
}
.woocommerce-pagination .page-numbers .page-numbers path {
  fill: var(--black-primary);
  transition: 0.2s ease;
}
.woocommerce-pagination .page-numbers .page-numbers:hover {
  color: var(--light);
  background: var(--accent-primary);
}
.woocommerce-pagination .page-numbers .page-numbers:hover path {
  fill: var(--light);
}
.woocommerce-pagination .page-numbers .page-numbers.current {
  color: var(--light);
  background: var(--accent-primary);
}

.product-page-content {
  position: relative;
}
.product-page-content .product-category {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  text-decoration: none;
  color: var(--accent-primary);
  transition: 0.2s ease;
}
.product-page-content .product-category:hover {
  color: var(--accent-secondary);
}
.product-page-content .product-loop-price-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  margin: 15px 0;
}
.product-page-content .product-loop-regular-price {
  font-size: 22px;
  font-weight: 600;
}
.product-page-content .product-loop-sale-price {
  color: var(--gray-400);
  text-decoration: line-through;
}

.product-meta {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-meta-row a {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 600;
  text-decoration: none;
  color: var(--accent-primary);
  transition: 0.2s ease;
}
.product-meta-row a:hover {
  color: var(--accent-secondary);
}

.product-shipping-notice {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.product-shipping-notice svg {
  width: 40px;
}
.product-shipping-notice svg path {
  fill: var(--accent-secondary);
}
.product-shipping-notice p {
  width: calc(100% - 60px);
}

.product-share-buttons {
  margin-top: 20px;
}
.product-share-buttons h3 {
  margin-bottom: 10px;
}

.products-share-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.products-share-buttons-container .product-share-button {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 6px;
  transition: 0.2s ease;
}
.products-share-buttons-container .product-share-button:hover {
  opacity: 0.85;
}
.products-share-buttons-container .product-share-button svg {
  width: 20px;
  height: 20px;
}
.products-share-buttons-container .product-share-button svg path {
  fill: var(--light);
}

.product-how-to-order-container,
.product-related-products-container {
  margin-bottom: 45px;
}

.single_add_to_cart_button_container {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.single_add_to_cart_button_container .quantity {
  width: 50px;
}
.single_add_to_cart_button_container .quantity .input-text.qty {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: 1px solid var(--black-primary-hover);
  text-align: center;
}

.single_add_to_cart_button {
  border: none;
  outline: none;
  display: flex;
  cursor: pointer;
  gap: 4px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
  font-weight: 500;
  border-radius: 6px;
  color: var(--white);
  text-align: center;
  width: max-content;
  padding: 8px 25px;
  background: var(--accent-primary);
  transition: 0.2s ease;
  font-size: 16px;
}
.single_add_to_cart_button:disabled {
  background: var(--gray-600);
  pointer-events: none;
}
.single_add_to_cart_button svg {
  width: 18px;
  height: 18px;
}
.single_add_to_cart_button svg path {
  fill: var(--white);
}
.single_add_to_cart_button:hover {
  background: var(--accent-secondary);
}
.single_add_to_cart_button:hover:disabled {
  background: var(--gray-800);
}

.product-hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.product-image-container {
  position: relative;
  width: 50%;
}

.product-flash-sale {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  background: var(--danger);
  color: var(--white);
  padding: 3px 10px;
  border-radius: 5px;
  pointer-events: none;
}

.product-summary-container {
  width: 50%;
}

.categories-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.categories-slider-items {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.categories-slider-item {
  flex: 0 0 16.6666666667%; /* Show 6 cards on desktop */
  box-sizing: border-box;
  /* Removed padding */
}

.categories-slider-item-card {
  text-align: center;
}

.categories-slider-item-card img {
  max-width: 100%;
  height: auto;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .categories-slider-item {
    flex: 0 0 25%; /* Show 4 cards on tablets */
  }
}
@media (max-width: 768px) {
  .categories-slider-item {
    flex: 0 0 33.3333333333%; /* Show 3 cards on smaller tablets */
  }
}
@media (max-width: 480px) {
  .categories-slider-item {
    flex: 0 0 50%; /* Show 2 cards on mobile */
  }
}
/* Slider Controls */
.slider-controls {
  gap: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  pointer-events: none; /* Allow clicks to pass through to the slider */
}

.slider-controls button {
  pointer-events: all; /* Enable clicks on buttons */
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.3s ease;
}

.slider-controls button:hover {
  background: var(--accent-secondary);
}

.contact-details-and-form-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 45px;
}

.contact-details-box {
  width: 45%;
}

.contact-details-text {
  margin-top: 20px;
  font-size: 22px;
}

.contact-details-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-details-container a {
  display: flex;
  justify-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--black-primary);
  transition: 0.2s ease;
}
.contact-details-container a:hover {
  color: var(--accent-secondary);
}
.contact-details-container a svg {
  width: 18px;
  height: 18px;
}
.contact-details-container a svg path {
  fill: var(--accent-secondary);
}

.contact-form-box {
  background: #f0f3f2;
  border-radius: 10px;
  padding: 35px 30px;
  width: 55%;
}

.contact-form-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.contact-form-input-container input {
  font-family: Roboto;
  font-size: 16px;
  outline: none;
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
}

.contact-form-textarea-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.contact-form-textarea-container textarea {
  overflow: hidden;
  font-family: Roboto;
  font-size: 16px;
  width: 100%;
  height: 100px;
  resize: none;
  outline: none;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
}

.contact-form-inputs-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.contact-form-inputs-row .contact-form-input-container {
  width: 50%;
}

.contact-form-submit-container button {
  font-size: 18px;
  color: var(--white);
  border-radius: 8px;
  padding: 8px 40px;
  background: var(--accent-primary);
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s ease;
}
.contact-form-submit-container button:hover {
  background: var(--accent-secondary);
}

.contact-map-container {
  border-radius: 10px;
  overflow: hidden;
  filter: grayscale(1);
  margin-bottom: 30px;
}
.contact-map-container .contact-map {
  border: none;
  display: block;
  width: 100%;
  height: 450px;
}

.contact-schedule-container {
  margin-top: 30px;
}
.contact-schedule-container span {
  display: block;
  margin-top: 10px;
}

.offer-details-and-form-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 45px;
}

.offer-details-box {
  width: 45%;
}

.offer-details-text-big {
  font-size: 22px;
}

.offer-details-text {
  margin-top: 30px;
}

.offer-contact-details-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.offer-contact-details-container a {
  display: flex;
  justify-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--black-primary);
  transition: 0.2s ease;
}
.offer-contact-details-container a:hover {
  color: var(--accent-secondary);
}
.offer-contact-details-container a svg {
  width: 18px;
  height: 18px;
}
.offer-contact-details-container a svg path {
  fill: var(--accent-secondary);
}

.cart-page-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.cart-page-cart-container {
  padding: 20px 0px;
  width: calc(100% - 380px);
}
.cart-page-cart-container .cart-actions-container {
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}
.cart-page-cart-container .shop_table {
  width: 100%;
  border-collapse: collapse;
}
.cart-page-cart-container .cart_item {
  border-top: 1px solid var(--gray-400);
  border-bottom: 1px solid var(--gray-400);
}
.cart-page-cart-container .cart_item td {
  padding: 5px;
}
.cart-page-cart-container .product-thumbnail img {
  height: 64px;
  width: 64px;
  object-fit: contain;
}
.cart-page-cart-container .product-subtotal {
  text-align: right;
  align-content: right;
}
.cart-page-cart-container .product-quantity,
.cart-page-cart-container .product-price {
  text-align: center;
  align-content: center;
}
.cart-page-cart-container .product-quantity .input-text.qty {
  width: 50px;
  padding: 7px 0;
  height: 100%;
  border-radius: 6px;
  border: 1px solid var(--black-primary-hover);
  text-align: center;
}
.cart-page-cart-container .product-name {
  width: 55%;
}
.cart-page-cart-container .product-name .product-name-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cart-page-cart-container .product-name a,
.cart-page-cart-container .product-name p {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  text-decoration: none;
  color: var(--accent-primary);
}
.cart-page-cart-container .product-name a.remove,
.cart-page-cart-container .product-name p.remove {
  font-size: 14px;
  color: var(--danger);
}

.update-cart-button {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  display: block;
  width: max-content;
  cursor: pointer;
  outline: none;
  border: none;
  background: var(--black-primary);
  color: var(--white);
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  padding: 8px 20px;
  transition: 0.2s ease;
}
.update-cart-button:hover {
  background: var(--black-primary-hover);
}
.update-cart-button:disabled {
  background: var(--body-color);
}
.update-cart-button:disabled:hover {
  background: var(--body-color);
}

.cart-page-cart-collaterals {
  max-width: 350px;
  width: 100%;
  border: 1px solid var(--gray-500);
  padding: 20px;
  border-radius: 8px;
  height: max-content;
}

.cart-collaterals-cart-totals {
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  overflow: hidden;
  margin: 10px 0 15px;
}
.cart-collaterals-cart-totals .shop_table {
  width: 100%;
  border-collapse: collapse;
}
.cart-collaterals-cart-totals .shop_table tr {
  border-bottom: 1px solid var(--gray-400);
}
.cart-collaterals-cart-totals .shop_table tr th {
  text-align: left;
  padding: 7px 0px 7px 10px;
}
.cart-collaterals-cart-totals .shop_table tr td {
  text-align: right;
  padding: 7px 10px 7px 0px;
}
.cart-collaterals-cart-totals .shop_table tr:last-of-type {
  border-bottom: none;
}

.wc-proceed-to-checkout .checkout-button {
  font-family: Roboto;
  font-weight: 500;
  display: block;
  width: 100%;
  background: var(--accent-primary);
  color: var(--white);
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  padding: 8px 5px;
  transition: 0.2s ease;
}
.wc-proceed-to-checkout .checkout-button:hover {
  background: var(--accent-secondary);
}

.cart-collateral-promocode {
  margin-top: 15px;
}
.cart-collateral-promocode h3 {
  margin-bottom: 10px;
}
.cart-collateral-promocode .coupon {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cart-collateral-promocode .coupon input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  outline: none;
  transition: 0.2s ease;
}
.cart-collateral-promocode .coupon input:focus {
  border: 1px solid var(--gray-400);
}
.cart-collateral-promocode .coupon button {
  font-family: Roboto;
  font-weight: 500;
  display: block;
  width: 100%;
  background: var(--gray-200);
  color: var(--black-primary);
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  padding: 8px 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease;
}
.cart-collateral-promocode .coupon button:hover {
  background: var(--gray-300);
}/*# sourceMappingURL=globals.css.map */