.header {
  width: 100%;
}

.header-top {
  width: 100%;
  position: relative;
  display: block;
  background: var(--accent-primary);
  padding: 4px 10px;
  color: var(--white);
  text-decoration: none;
}
.header-top a {
  color: var(--white);
  text-decoration: none;
}
.header-top span {
  margin: 0px 7px;
}

.header-top-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

.header-content-box {
  max-width: var(--content-box-width);
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
}

.header-bottom {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gray-300);
}

.header-bottom-upper-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0px;
}

.header-logo-container {
  width: 25%;
  height: 50px;
  display: block;
}

.header-logo-container a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.header-logo-container img {
  display: block;
  height: 100%;
}

.header-categories-button-container {
  position: relative;
}
.header-categories-button-container .header-categories-container {
  position: absolute;
  z-index: 1000;
  background: var(--white);
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  transform: translateY(20px);
  width: 200px;
  padding: 15px 0px;
  top: 100%;
  left: 0;
  pointer-events: none;
  box-shadow: 0px 4px 10px 0px var(--gray-300);
  opacity: 0;
  transition: 0.3s ease;
}
.header-categories-button-container .header-categories-container .menu-item {
  padding: 5px 20px;
}
.header-categories-button-container .header-categories-container .menu-item a {
  color: var(--nav-link-color);
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s ease;
}
.header-categories-button-container .header-categories-container .menu-item a:hover {
  color: var(--accent-secondary);
}
.header-categories-button-container .header-categories-container .menu-item .sub-menu {
  pointer-events: none;
  opacity: 0;
  list-style: none;
  position: absolute;
  padding: 15px 20px;
  min-width: 200px;
  top: 0;
  left: 95%;
  background: var(--white);
  border: 1px solid var(--gray-300);
  border-radius: 0px 8px 8px 0px;
  transition: 0.2s ease;
}
.header-categories-button-container .header-categories-container .menu-item:hover .sub-menu {
  opacity: 1;
  pointer-events: all;
  left: 100%;
  z-index: -1;
}
.header-categories-button-container .header-categories-container .menu-item:hover .header-categories-container {
  border-radius: 8px 0 0 8px;
}
.header-categories-button-container:hover .header-categories-container {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0px);
}
.header-categories-button-container .menu-item:hover .header-categories-container {
  border-radius: 8px 0 0 8px;
}

.header-categories-list,
.header-categories-menu {
  list-style: none;
}

.header-categories-button {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--accent-primary);
  cursor: pointer;
  color: var(--white);
  border-radius: 8px;
  padding: 8px 20px;
  transition: 0.2s ease;
}
.header-categories-button:hover {
  background: var(--accent-secondary);
}
.header-categories-button svg {
  height: 16px;
  width: 16px;
}
.header-categories-button svg path {
  fill: var(--white);
}
.header-categories-list {
  display: flex;
  flex-direction: column;
}

.header-bottom-lower-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 25px;
}

.header-primary-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  align-content: center;
}
.header-primary-menu .menu-item a {
  color: var(--nav-link-color);
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s ease;
}
.header-primary-menu .menu-item a:hover {
  color: var(--accent-secondary);
}

.header-search-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.header-shop-links-container {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 25px;
}
.header-shop-links-container a svg {
  display: block;
  width: 25px;
  height: 25px;
}
.header-shop-links-container a svg path {
  fill: var(--nav-link-color);
}

.header-cart-link {
  position: relative;
}
.header-cart-link span {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 15px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 100px;
  background-color: var(--accent-primary);
  color: var(--white);
}

.header-search {
  position: relative;
}

.header-search-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  width: 100%;
  margin-top: 3px;
  background: var(--white);
  overflow: hidden;
}
.header-search-suggestions ul {
  list-style: none;
  max-height: 350px;
  overflow: auto;
}
.header-search-suggestions ul li {
  width: 100%;
  border-bottom: 1px solid var(--gray-200);
  transition: 0.2s ease;
}
.header-search-suggestions ul li:last-of-type {
  border-bottom: none;
}
.header-search-suggestions ul li:hover {
  background: var(--gray-100);
}
.header-search-suggestions ul li a {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 8px 10px;
  color: var(--accent-primary);
  transition: 0.2s ease;
}
.header-search-suggestions ul li a:hover {
  color: var(--accent-secondary);
}

.header-search-container .search-field {
  outline: none;
  min-width: 450px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
}
.header-search-container button {
  display: none;
}

.header-mobile-menu-button-container {
  display: none;
}

.header-mobile-menu-button-bar {
  background: var(--white);
  width: 20px;
  height: 2px;
  transform-origin: center;
  transition: 0.2s ease;
}

.header-mobile-menu-button {
  border-radius: 100%;
  background: var(--accent-primary);
  transition: 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
}
.header-mobile-menu-button:hover {
  background: var(--accent-secondary);
}
.header-mobile-menu-button.is-opened .header-mobile-menu-button-bar-1 {
  transform: rotate(45deg) translate(5px, 5px);
}
.header-mobile-menu-button.is-opened .header-mobile-menu-button-bar-2 {
  opacity: 0;
}
.header-mobile-menu-button.is-opened .header-mobile-menu-button-bar-3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.header-top-container-mobile {
  display: none;
  width: 100%;
  overflow: hidden;
}

.header-top-slider-items {
  width: max-content;
  display: flex;
  flex-direction: row;
  transition: 0.3s ease;
}

.header-top-slider-item {
  width: calc(100vw - 40px);
  text-align: center;
}/*# sourceMappingURL=header.css.map */