@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 1024px) {
  .categories-slider-item {
    flex: 0 0 calc(100% / 4);
  }

  .products-gallery-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .our-values-container {
    flex-direction: column;
    gap: 50px;

    .our-values-item {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 768px) {
  .categories-slider-item {
    flex: 0 0 calc(100% / 2);
  }

  .products-gallery-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 480px) {
}
