@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 1024px) {
  .categories-slider-item {
    flex: 0 0 calc(100% / 4);
  }

  .products-gallery-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .our-values-container {
    flex-direction: column;
    gap: 50px;

    .our-values-item {
      width: 100%;
    }
  }
  .header-bottom {
    padding: 0;
  }
  .header-search-container,
  .header-shop-links-container,
  .header-bottom-lower-row,
  .header-top-container {
    display: none;
  }
  .header-bottom-upper-row {
    padding: 5px 0;
    justify-content: space-between;
  }
  .header-logo-container {
    width: max-content;
  }
  .header-mobile-menu-button-container {
    display: block;
  }
  .header-top-container-mobile {
    display: block;
  }

  .product-hero {
    flex-direction: column;
  }
  .product-image-container,
  .product-summary-container {
    width: 100%;
  }
  .categories-slider-item {
    flex: 0 0 calc(100% / 2);
  }
  .products-gallery-list,
  .product-page-content .products-gallery-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .woocommerce-breadcrumb {
    flex-wrap: wrap;
    font-size: 12px;
  }

  .footer-primary-row{
    flex-direction: column;
    gap: 50px;
  }
  .footer-primary-col{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .menu-footer-primary-menu-container,
  .menu-utils-menu-container{
    text-align: center;
  }
  .footer-copyrights{
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 480px) {

}
